* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background-color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  display: flex;
  width: calc((100% - 48px) / 3);
  margin: 24px, 156px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.modal-image {
  width: 1112px;
  height: 640px;
  object-fit: cover;
  display: block;
  background: rgba(46, 47, 66, 0.8);
}
